<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mizhousoft.bmc.system.mapper.AccountStrategyMapper">
	
	<resultMap type="com.mizhousoft.bmc.system.domain.AccountStrategy" id="AccountStrategyMap">
		<id property="id" column="id" />
		<result property="accountUnusedDay" column="accountUnusedDay" />
		<result property="timeLimitPeriod" column="timeLimitPeriod" />
		<result property="loginLimitNumber" column="loginLimitNumber" />
		<result property="lockTimeStrategy" column="lockTimeStrategy" />
		<result property="accountLockTime" column="accountLockTime" />
	</resultMap>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into bmc_account_strategy (accountUnusedDay, timeLimitPeriod, loginLimitNumber, lockTimeStrategy, accountLockTime)
		values(#{accountUnusedDay}, #{timeLimitPeriod}, #{loginLimitNumber}, #{lockTimeStrategy}, #{accountLockTime})
	</insert>

	<delete id="update">
		update bmc_account_strategy set 
		accountUnusedDay = #{accountUnusedDay},
		timeLimitPeriod = #{timeLimitPeriod},
		loginLimitNumber = #{loginLimitNumber},
		lockTimeStrategy = #{lockTimeStrategy},
		accountLockTime = #{accountLockTime}
		where id = #{id}
	</delete>

	<select id="findOne" resultMap="AccountStrategyMap">
		select id, accountUnusedDay, timeLimitPeriod, loginLimitNumber, lockTimeStrategy, accountLockTime from bmc_account_strategy limit 1
	</select>

</mapper>