<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mizhousoft.bmc.system.mapper.PasswordStrategyMapper">

	<resultMap type="com.mizhousoft.bmc.system.domain.PasswordStrategy" id="PasswordStrategyMap">
		<id property="id" column="id" />
		<result property="historyRepeatSize" column="historyRepeatSize" />
		<result property="charAppearSize" column="charAppearSize" />
		<result property="modifyTimeInterval" column="modifyTimeInterval" />
		<result property="validDay" column="validDay" />
		<result property="reminderModifyDay" column="reminderModifyDay" />
	</resultMap>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into bmc_password_strategy (
		historyRepeatSize, charAppearSize, modifyTimeInterval, validDay, reminderModifyDay)
		values(#{historyRepeatSize}, #{charAppearSize}, #{modifyTimeInterval}, #{validDay}, #{reminderModifyDay})
	</insert>

	<delete id="update">
		update bmc_password_strategy set 
		historyRepeatSize = #{historyRepeatSize},
		charAppearSize = #{charAppearSize},
		modifyTimeInterval = #{modifyTimeInterval},
		validDay = #{validDay},
		reminderModifyDay = #{reminderModifyDay}
		where id = #{id}
	</delete>

	<select id="findOne" resultMap="PasswordStrategyMap">
		select id, historyRepeatSize, charAppearSize, modifyTimeInterval, validDay, reminderModifyDay 
		from bmc_password_strategy
	</select>

</mapper>