<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mizhousoft.bmc.account.mapper.HistoryPasswordMapper">

	<resultMap type="com.mizhousoft.bmc.account.domain.HistoryPassword" id="HistoryPasswordMap">
		<id property="id" column="id" />
		<result property="accountId" column="accountId" />
		<result property="historyPwd" column="historyPwd" />
		<result property="modifyTime" column="modifyTime" />
	</resultMap>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into bmc_history_pwd (accountId, historyPwd, modifyTime)
		values(#{accountId}, #{historyPwd}, #{modifyTime})
	</insert>
	
	<delete id="delete">
		delete from bmc_history_pwd where accountId = #{accountId}
	</delete>

	<select id="findHistoryPasswords" resultMap="HistoryPasswordMap">
		select id, accountId, historyPwd, modifyTime 
		from bmc_history_pwd 
		where accountId = #{accountId} 
		order by modifyTime desc limit 0, #{topNum}
	</select>

</mapper>