<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mizhousoft.bmc.identity.mapper.ObjectIdentityMapper">

	<resultMap type="com.mizhousoft.bmc.identity.domain.ObjectIdentity" id="objectIdentityMap">
		<result property="name" column="name" />
		<result property="value" column="value_x" />
	</resultMap>

	<insert id="save">
		insert into bmc_object_identity (name, value_x)
		values(#{name}, #{value})
	</insert>
	
	<update id="update">
		update bmc_object_identity set value_x = #{value} where name = #{name} 
	</update>
	
	<select id="findById" resultMap="objectIdentityMap">
		select name, value_x from bmc_object_identity where name = #{id}
	</select>
	
</mapper>