.mz-body {
    font-size: 14px;
    background-color: #f9f9f9;
}

.mz-login-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/bg-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.mz-login-card {
    position: relative;
    top: calc((100vh - 400px) / 2);
    left: calc((100vw - 420px) / 2);
    width: 420px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
}

.mz-logo {
    color: #fff;
    font-size: 22px;
    font-family: 'Microsoft Yahei', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
}

.mz-layout {
    padding: 0;
    background-color: #f9f9f9;
}

.mz-layout-content {
    min-height: 280px;
}

.mz-main-header {
    width: 100% !important;
    height: 60px !important;
    padding: 0 !important;
    line-height: 60px !important;
    background-color: #051e37 !important;
}

.mz-empty-header {
    width: 100% !important;
    height: 60px !important;
    padding: 0 !important;
    line-height: 60px !important;
    background-color: #051e37 !important;
}

.mz-navigation-menu {
    background-color: #051e37 !important;
}

.mz-navigation-menu.ant-menu-horizontal {
    border-bottom: none;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item {
    border-bottom: none;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item-selected a {
    color: #fff;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item-selected {
    border-bottom-color: rgba(42, 48, 60);
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item.active {
    border-bottom: none;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom: none;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-submenu-selected {
    border-bottom: none;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item-selected::after {
    position: absolute;
    bottom: 12.5px;
    left: 50%;
    width: 28px;
    height: 3px;
    background: #2f88ff;
    border-radius: 2px;
    transform: translateX(-50%);
    content: '';
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item-active::after {
    position: absolute;
    bottom: 12.5px;
    left: 50%;
    width: 28px;
    height: 3px;
    background: #2f88ff;
    border-radius: 2px;
    transform: translateX(-50%);
    content: '';
}

.mz-navigation-menu.ant-menu-horizontal .ant-menu-submenu .ant-menu-submenu-title {
    color: white;
    font-size: 15px;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-submenu-selected .ant-menu-submenu-title {
    color: #1890ff;
    font-size: 15px;
}

.mz-notification .ant-badge-count {
    color: #fff !important;
    background-color: #006eff !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

.mz-notification-list {
    width: 320px;
}

.mz-notification-list .number {
    color: #108ee9 !important;
}

.mz-sider {
    min-height: calc(100vh - 60px) !important;
    padding: 10px 15px 0 !important;
    background: #f0f2f5 !important;
}

.mz-sider-header {
    margin-bottom: 10px;
    padding: 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    word-break: keep-all;
    border-bottom: 1px dashed #ddd;
}

.mz-sider-body {
    flex: 1 1 0% !important;
    overflow: hidden auto !important;
}

.mz-sider-footer {
    padding: 10px 0;
    text-align: center;
}

.mz-sider .ant-layout-sider-children {
    display: flex !important;
    flex-direction: column !important;
}

.mz-sider .ant-menu {
    background-color: #f0f2f5;
}

.mz-sider .ant-menu-inline .ant-menu-item {
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 40px;
}

.mz-sider .ant-menu-item-selected {
    background-color: #e1e7f5;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.mz-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #e1e7f5;
}

.mz-sider .ant-menu-item::after {
    border-right: none;
}

.mz-page-head {
    padding: 10px 10px 10px 12px;
    background: #f9f9f9;
}

.mz-page-head .title {
    color: #333;
    font-size: 14px;
}

.mz-page-head .button-group {
    text-align: right;
}

.mz-page-head .button-group > button {
    margin-right: 16px;
}

.mz-page-head .button-group > button:last-child {
    margin-right: 0;
}

.mz-page-content {
    margin-bottom: 0;
    padding: 0;
}

.mz-page-content-body {
    padding: 15px 12px;
    background: white;
}

.mz-page-header {
    padding: 16px 0 0 12px;
    background: #f9f9f9;
}

.mz-table-header {
    margin-bottom: 20px;
}

.mz-line-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.mz-note-list-head {
    margin-bottom: 20px;
    padding: 20px 20px 14px;
    border: 1px solid #f0f0f0;
}

.mz-note-list-head p {
    margin-bottom: 4px;
    color: #333;
    font-size: 14px;
}

.mz-note-list-head ul {
    margin: 0;
    margin-left: 12px;
    padding: 0;
}

.mz-note-list-head li {
    position: relative;
    display: box;
    display: flexbox;
    display: flex;
    align-items: center;
    color: #999;
    font-size: 12px;
    line-height: 24px;
    list-style-type: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.mz-note-list-head li::before {
    position: absolute;
    top: 9px;
    left: -10px;
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #d9d9d9;
    border-radius: 50%;
    content: '';
}

.mz_permission_tree {
    height: calc(100vh - 350px);
    margin-top: 5px;
    margin-bottom: 10px;
    overflow: auto;
    border: 1px solid #d8dee2;
}

.mz-page-empty {
    margin: 0;
    padding: 20px 0;
    background-color: white;
}

.mz-modal-empty {
    margin: 10px 0 0;
    padding: 20px 0;
    background-color: white;
}

.mz-grey-button {
    color: #555;
    background-color: #fafafa;
}

.mz-button-group button {
    margin-right: 25px;
}

.mz-button-group button:last-child {
    margin-right: 0;
}

.mz-button-group.left {
    text-align: left;
}

.mz-button-group.center {
    text-align: center;
}

.mz-button-group.right {
    text-align: right;
}

.mz-a-group {
    text-align: left;
}

.mz-a-group > a,
.mz-a-group > span {
    margin-right: 15px;
}

.mz-a-group > a:first-child,
.mz-a-group > span:first-child {
    margin-left: 15px;
}

.mz-a-group > a:last-child,
.mz-a-group > span:last-child {
    margin-right: 0;
}

.mz-page-loading {
    height: calc(100vh - 180px);
}

.mz-page-loading > .spin {
    position: relative;
    top: calc((100vh - 106px) / 3 - 30px);
    text-align: center;
}

.mz-modal-loading {
    min-height: 150px;
}

.mz-modal-loading > .spin {
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;
}

.mz-filter-form .ant-form-item {
    margin-bottom: 0;
}

.mz-view-form .ant-form-item {
    margin-bottom: 9px;
}

.mz-modal .ant-modal-header {
    padding: 10px 16px;
}

.mz-drawer .ant-drawer-header {
    padding: 10px 24px;
}

.mz-toolbar {
    height: 48px;
    margin-bottom: 10px;
    padding: 0 10px;
    line-height: 48px;
    background-color: #fafafa;
}

.mz-toolbar > .title {
    font-size: 15px;
}

.mz-grey-text {
    color: #999;
}

.mz-button-tags .ant-radio-button-wrapper {
    margin-right: 20px;
    color: #555;
    background: #f2f2f6;
    border: 1px solid #f2f2f6 !important;
    border-color: #f2f2f6 !important;
}

.mz-button-tags .ant-radio-button-wrapper-checked {
    color: #0774e9;
    background: #f2f2f6 !important;
    border: 1px solid #f2f2f6 !important;
}

.mz-button-tags .ant-radio-button-wrapper:not(:first-child)::before {
    background: #f2f2f6 !important;
    border: 1px solid #f2f2f6 !important;
}

.mz-button-tags .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: none;
}

.mz-panel-title {
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    background-color: #f8f8f8;
}

.mz-toolbar-button {
    margin-bottom: 15px;
}

.mz-toolbar-button .ant-btn {
    margin-right: 15px;
    color: #666;
}

.mz-toolbar-button .ant-btn.active {
    color: #40a9ff;
    border-color: #40a9ff;
}

.mz-header-avatar {
    position: relative;
    display: inline-block;
    margin: 0 18px 0 28px;
}

.mz-header-avatar a {
    color: rgba(255, 255, 255, 0.55);
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
}

.mz-header-avatar a.active {
    color: white;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
}

.mz-header-avatar a.active::after {
    position: absolute;
    bottom: 12.5px;
    left: 50%;
    width: 27px;
    height: 3px;
    background: #2f88ff;
    border-radius: 2px;
    transform: translateX(-50%);
    content: '';
}

.mz-table-error {
    color: #f04134;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.2);
    border-radius: 40px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

#table-drag-sorting tr.drop-over-downward td {
    border-bottom: 2px dashed #1890ff;
}

#table-drag-sorting tr.drop-over-upward td {
    border-top: 2px dashed #1890ff;
}

.ml-lg-1 {
    margin-left: 5px !important;
}

.ml-lg-2 {
    margin-left: 10px !important;
}

.ml-lg-3 {
    margin-left: 15px !important;
}

.ml-lg-4 {
    margin-left: 20px !important;
}

.ml-lg-5 {
    margin-left: 25px !important;
}

.ml-lg-6 {
    margin-left: 30px !important;
}
