<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mizhousoft.bmc.auditlog.mapper.ApiAuditLogMapper">

	<resultMap type="com.mizhousoft.bmc.auditlog.domain.ApiAuditLog" id="ApiAuditLogMap">
		<id property="id" column="id" />
		<result property="logLevel" column="logLevel" />
		<result property="operation" column="operation" />
		<result property="source" column="source" />
		<result property="terminal" column="terminal" />
		<result property="result" column="result" />
		<result property="detail" column="detail" />
		<result property="addInfo" column="addInfo" />
		<result property="creationTime" column="creationTime" />
	</resultMap>

	<sql id="resultColumns">
		id, logLevel, operation, source, terminal, result, detail, addInfo, creationTime
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into bmc_api_log (operation, logLevel, source, terminal, result, detail, addInfo, creationTime)
		values(#{operation}, #{logLevel}, #{source}, #{terminal}, #{result}, #{detail}, #{addInfo}, #{creationTime})
	</insert>
	
	<select id="countTotal" resultType="Long">
		select count(id) from bmc_api_log
		<where>
			<if test="request != null and request.logLevels != null and request.logLevels.length > 0">
		   		logLevel in 
				<foreach collection="request.logLevels" item="logLevel" open="(" separator="," close=")">
					#{logLevel}
				</foreach>
		  	</if>
		  	<if test="request != null and request.results != null and request.results.length > 0">
		   		and result in 
				<foreach collection="request.results" item="result" open="(" separator="," close=")">
					#{result}
				</foreach>
		  	</if>
			<if test="request != null and request.operation != null">
		   		and operation = #{request.operation}
		  	</if>
		  	<if test="request != null and request.terminal != null">
		   		and terminal = #{request.terminal}
		  	</if>
		  	<if test="request != null and request.source != null">
		   		and source = #{request.source}
		  	</if>
		  	<if test="request != null and request.beginTime != null and request.endTime != null">
		   		and creationTime between #{request.beginTime} and #{request.endTime}
		  	</if>
		</where>
	</select>

	<select id="findPageData" parameterType="java.util.Map" resultMap="ApiAuditLogMap">
		select <include refid="resultColumns" /> from bmc_api_log
		<where>
			<if test="request != null and request.logLevels != null and request.logLevels.length > 0">
		   		logLevel in 
				<foreach collection="request.logLevels" item="logLevel" open="(" separator="," close=")">
					#{logLevel}
				</foreach>
		  	</if>
		  	<if test="request != null and request.results != null and request.results.length > 0">
		   		and result in 
				<foreach collection="request.results" item="result" open="(" separator="," close=")">
					#{result}
				</foreach>
		  	</if>
			<if test="request != null and request.operation != null">
		   		and operation = #{request.operation}
		  	</if>
		  	<if test="request != null and request.terminal != null">
		   		and terminal = #{request.terminal}
		  	</if>
		  	<if test="request != null and request.source != null">
		   		and source = #{request.source}
		  	</if>
		  	<if test="request != null and request.beginTime != null and request.endTime != null">
		   		and creationTime between #{request.beginTime} and #{request.endTime}
		  	</if>
		</where>
		order by creationTime desc limit #{rowOffset}, #{request.pageSize}
	</select>

</mapper>