.mz-notification {
    margin-top: 5px;
}

.mz-notification .ant-badge-count {
    color: #fff !important;
    background-color: #006eff !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

.mz-notification-list {
    width: 320px;
}

.mz-notification-list .number {
    color: #108ee9 !important;
}

.mz-notification-list .ant-list-item {
    padding: 0 0 12px;
}

.mz-notification-list .ant-list-item-meta-title {
    font-weight: 500;
}
