{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 140,
    "proseWrap": "never",
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "importOrder": [
        "^(react|react-dom)$",
        "^([a-z]|@[a-z])",
        "",
        "^(@/assets|@/components|@/components-auth|@/components-biz|@/components-chart|@/config|@/layout|@/redux|@/session|@/store|@/utils|@/views)(/.*)$",
        "^[./].*$",
        ".css$",
        ".less$"
    ],
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports"
    ],
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
