<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mizhousoft.bmc.role.mapper.PermissionMapper">
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	
	<resultMap type="com.mizhousoft.bmc.role.domain.Permission" id="PermissionMap">
		<id property="id" column="id" />
		<result property="srvId" column="srvId" />
		<result property="type" column="type" />
		<result property="name" column="name" />
		<result property="parentName" column="parentName" />
		<result property="displayNameCN" column="displayNameCN" />
		<result property="displayNameUS" column="displayNameUS" />
		<result property="authz" column="isAuthz" />
		<result property="descriptionCN" column="descriptionCN" />
		<result property="descriptionUS" column="descriptionUS" />
	</resultMap>
	
	<select id="findAll" resultMap="PermissionMap" useCache="true">
		select p.id, p.srvId, p.type, p.name, p.parentName, p.displayNameCN, p.displayNameUS, p.isAuthz, p.descriptionCN, p.descriptionUS
		from bmc_permission p
	</select>
	
	<select id="findByRequestPath" resultMap="PermissionMap" useCache="true">
		select p.id, p.srvId, p.type, p.name, p.parentName, p.displayNameCN, p.displayNameUS, p.isAuthz, p.descriptionCN, p.descriptionUS
		from bmc_permission p, bmc_perm_resource r
		where p.name = r.permName and r.path = #{path}
	</select>
		
</mapper>