.mz-navigation-menu {
    background-color: #11375c !important;
}

.mz-navigation-menu.ant-menu-horizontal {
    border-bottom: none !important;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item {
    padding: 0 20px !important;
    border-bottom: none !important;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item::after {
    border-bottom: none !important;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item-selected a {
    color: #fff;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item-selected {
    border-bottom-color: rgba(42, 48, 60);
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item.active {
    border-bottom: none;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom: none;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-submenu-selected {
    border-bottom: none;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item-selected::after {
    position: absolute;
    bottom: 12.5px;
    left: 50%;
    width: 28px;
    height: 3px;
    background: #2f88ff;
    border-radius: 2px;
    transform: translateX(-50%);
    content: '';
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-item-active::after {
    position: absolute;
    bottom: 12.5px;
    left: 50%;
    width: 28px;
    height: 3px;
    background: #2f88ff;
    border-radius: 2px;
    transform: translateX(-50%);
    content: '';
}

.mz-navigation-menu.ant-menu-horizontal .ant-menu-submenu .ant-menu-submenu-title {
    color: white;
    font-size: 15px;
}

.mz-navigation-menu.ant-menu-horizontal > .ant-menu-submenu-selected .ant-menu-submenu-title {
    color: #1890ff;
    font-size: 15px;
}
