.ant-filter-form .ant-form-item {
    margin-bottom: 0;
}

.ant-view-form .ant-form-item {
    margin-bottom: 7px;
}

.ant-form-item-extra {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-divider {
    margin: 0 12px;
}

.ant-breadcrumb a {
    color: #1890ff !important;
}

.list-ant-tag .ant-tag {
    margin-bottom: 14px !important;
}

.ant-layout-sider-light .ant-menu-item .anticon {
    margin-right: 12px !important;
}

.ant-layout-sider-light .ant-menu-submenu-title .anticon {
    margin-right: 12px !important;
}

.input-addon-button .ant-input-group-addon {
    background-color: #fff;
    border-width: 0;
}

.ant-modal-header {
    padding: 11px 24px !important;
    background: #f7f8fa !important;
}

.ant-modal-content {
    padding: 0 !important;
}

.ant-modal-body {
    padding: 20px 24px !important;
}

.ant-modal-footer {
    padding: 0 24px 20px !important;
}

.ant-modal-confirm .ant-modal-footer {
    padding: 0 !important;
}
