<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mizhousoft.bmc.role.mapper.PermResourceMapper">
	
	<resultMap type="com.mizhousoft.bmc.role.domain.PermResource" id="PermResourceMap">
		<id property="id" column="id" />
		<result property="srvId" column="srvId" />
		<result property="permName" column="permName" />
		<result property="path" column="path" />
	</resultMap>
	
	<select id="findAll" resultMap="PermResourceMap">
		select id, srvId, permName, path from bmc_perm_resource
	</select>

</mapper>