.mz-sider {
    min-height: calc(100vh - 60px) !important;
    padding: 10px 15px 0 !important;
    background: var(--mz-main-bg) !important;
}

.mz-sider-header {
    margin-bottom: 10px;
    padding: 0 0 8px;
    overflow: hidden;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    word-break: keep-all;
    border-bottom: 1px dashed #ddd;
}

.mz-sider-body {
    flex: 1 1 0% !important;
    overflow: hidden auto !important;
}

.mz-sider-footer {
    padding: 10px 0;
    text-align: center;
}

.mz-sider .ant-layout-sider-children {
    display: flex !important;
    flex-direction: column !important;
}

.mz-sider .ant-menu {
    background-color: var(--mz-main-bg) !important;
}

.mz-sider .ant-menu-inline .ant-menu-item {
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 40px;
}

.mz-sider .ant-menu-item-selected {
    background-color: #e1e7f5;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.mz-sider .ant-menu-item:hover {
    background-color: #e1e7f5 !important;
    border-top-right-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
}

.mz-sider .ant-menu-submenu-active .ant-menu-submenu-title {
    background-color: #e1e7f5 !important;
    border-top-right-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
}

.mz-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #e1e7f5;
}

.mz-sider .ant-menu-item::after {
    border-right: none;
}
